.dashboard 
  h1.dashboard__header Dashboard 
  .dashboard__card--mega
    .dashboard__head
      .dashboard__title Current Score
      label.dashboard__action-button(for="modal") Add New Update
    .dashboard__body
      .dashboard__hero-title 1,846
    .dashboard__footer
      button.dashboard__button Claim Bonus

  .dashboard__card--promotion
    .dashboard__head
      .dashboard__title My Promotions
    .dashboard__body
      .dashboard__list
        //- =JSON.stringify( Object.keys(data.promotion))
        each item in data.promotion
          .dashboard__grid
            .dashboard__svg
              img(src=`${baseUrl}asset/image/ticket.svg`, alt="ticket")
            .dashboard__info
              .dashboard__description=item.description
              .dashboard__time=item.time
            button.dashboard__watch Watch

  .dashboard__card--popular
    .dashboard__head
      .dashboard__title my popular movies
    .dashboard__body
      .dashboard__popular-list
        each popular in data.popular
          .dashboard__popular-grid
            .dashboard__popular-image
              img(src=`${baseUrl}asset/image/${popular.imageUrl}`, alt="")
            .dashboard__popular-info
              .dashboard__popular-title=popular.title
              .dashboard__popular-time View time: #{popular.time}
            .dashboard__popular-play
              .dash-play

  input(type="radio" name="flip" id="flippy-1" checked)
  input(type="radio" name="flip" id="flippy-2")
  .dashboard__card--random
    .dashboard__body
      .dashboard__random-smiley
        img(src=`${baseUrl}asset/image/smiley.svg`, alt="")
      .dashboard__random-title JUST A RANDOM CARD
      .dashboard__random-description Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    .dashboard__footer
      label(for="flippy-1").dashboard__random-button click to flip the card
      label(for="flippy-2").dashboard__random-button click to flip the card
